@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@100..900&display=swap');

:root {
    --cor-primaria: #1B262C; /*#000000*/
    --cor-secundaria:#BBE1FA; /*#F6F6F6*/
    --cor-terciaria: #22D4FD;
    --cor--hover: #0F4C75B3; /*B3 NO FINAL DO HEXA PARA OPACIDADE 70%*/

    --font-primaria: "Krona One", sans-serif;
    --font-secundaria: "montserrat", sans-serif;
}

* {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    background-image: url('../img/background-picture.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    /*background-color: var(--cor-primaria);
    color:var(--cor-secundaria);*/
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-terciaria);
}
.apresentacao {
    color:var(--cor-secundaria);
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--font-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 400;
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.apresentacao__links__subtitulo {
    font-family: var(--font-primaria);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--font-secundaria);
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
    padding: 21.5px 0px;
    transition: 0.5s;
}

.apresentacao__links__navegacao:hover {
    background-color:var(--cor--hover);
    font-size: 1.625rem;
    font-weight: bold;
    border: 2px solid var(--cor-terciaria);
}

.apresentacao__imagem {
    width: 50%;
    max-width: 500px;
    border: solid 0.19rem var(--cor-terciaria);
    border-radius:4vw;
    padding: 1%;
    box-shadow: 1.5vw 2.5vw var(--cor--hover);
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--font-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 24px 0px;
}

@media (max-width: 1350px) {
    .cabecalho {
        padding: 10%;
    }
    
    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
    .apresentacao__imagem {
        box-shadow: 2vw 3.0vw var(--cor--hover);
    }
}

